/* styling elements */
body {
  background: #ffecb1;
  font-size: 25px;
  color: #fff2cc;
  font-family: Verdana, sans-serif;
}

.grid-container > div {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.header {
    background-color: #96ceb4;  
}

.menu {
    background-color: #ff6f69;
}

.content {
    background-color: #ffcc5c;
}

.footer {
    background-color: #88d8b0;
}

/* positioning elements */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 300px 40px;

}

.header {
  grid-column: span 12;
}

.menu {
  grid-column: span 4;
}

.content {
    grid-column: span 8;
}

.footer {
    grid-column: span 12;
}

@media screen and (max-width: 480px) {
  .header {
    grid-column: span 6;
  }
  .menu {
    grid-row: 1;
    grid-column: span 6;
  }
  .content {
    grid-column: span 12;
  }
}