/* LAYOUT SECTION */
body {
  background: #5f6e8c;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  color: #dce2ec;
  margin: 0;
}

#header {
  background: #3a4863;
  padding: 1em;
}

#navbar {
  background: #1f2b44;
  padding: 0.5em;
}

.sidebar {
  background: #243c6f;
  padding: 1em;
  width: 30%;
  float: right;
  clear: right;
  margin-top: 1em;
}

.main {
  background: #46546f;
  padding: 1em;
  width: 70%;
  margin-top: 1em;
}

/* LIST ELEMENTS */


#navbar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#navbar ul li {
  display: inline;
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: inherit;
}